<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete page</title>
    <link rel="stylesheet" href="css/login1.css">
</head>
<body>
<h1>SCOOOPSYNC</h1>
    <h1>Delete Form</h1>
    <form action="/delete" method="post" >
   
        <label for="icecream_name">Icecream name:</label>
  <input type="text" id="icecream_name" name="icecream_name" required><br>

  <input type="submit" value="Delete">

    </form>
</body>
</html>