<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login1.css">
</head>
<body>

    <h1>SCOOOPSYNC</h1>

    <form>
        <br>
        <br>
        <br>

        <br>
   
<a href="#" onclick="window.open('login','myWindow')"; ><input type="button" onclick="submit" value="login"></button>
<br>
<br>
<br>
<a href="#" onclick="window.open('signup','myWindow')"; ><input type="button" onclick="submit" value="signup"></button>
       

    </form>
      
</body>
</html>