<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theme page</title>
    <link rel="stylesheet" href="css/login1.css">
</head>
<body>
        <form action="/theme" method="post">
        <h1>SCOOOPSYNC</h1>
<a href="#" onclick="window.open('update','myWindow')"; ><input type="button" onclick="submit" value="update"></button>
<br>
<br>
<br>
<br>
<a href="#" onclick="window.open('delete','myWindow')"; ><input type="button" onclick="submit" value="delete"></button>
<br>
<br>
<br>
<br>
<a href="#" onclick="window.open('display','myWindow')"; ><input type="button" onclick="submit" value="display"></button>
<br>
<br>
<br>
<a href="#" onclick="window.open('thankyou','myWindow')"; ><input type="button" onclick="submit" value="logout"></button>

 
        </form>
</body>
</html>
