<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update page</title>
    <link rel="stylesheet" href="css/login1.css">
</head>
<body>
   
    <h1>update Form</h1>
    <form action="/update" method="post" >



  <label for="icecream_name">Icecream name:</label>
  <input type="text" id="icecream_name" name="icecream_name" required><br>


  <label for="icecream_type">Icecream_type:</label>
  <input type="text" id="icecream_type" name="icecream_type" required><br>
  <input type="submit" value="Update">


    </form>
</body>
</html>